<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>

		<add key="不动产权证书高度" value="130" />
		<add key="不动产权证书宽度" value="240" />
		<add key="左边距" value="4" />
		<add key="PROVINCE" value="粤" />
		<add key="TIME" value="2019" />
		<add key="THE_CITY" value="台北市" />
		<add key="PROPERTY_RIGHTS_NUM" value="4515641" />
		<add key="NAME" value="某某某" />
		<add key="THE_OWNERSHIP_OF" value="房屋单独所有" />
		<add key="PLACE" value="深圳市福田区深圳湾一号小区 29B06" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="Bin;Bin\Fonts" />
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.1" newVersion="1.0.112.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>