<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="creditreportBinding" />
                <binding name="FRReportToBase64Soap" />
                <binding name="creditreportBinding1" />
                <binding name="creditreportBinding2" />
                <binding name="creditreportBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://119.184.188.116:6191/WinHall/services/creditreport"
                binding="basicHttpBinding" bindingConfiguration="creditreportBinding"
                contract="XinTaiWebServices.CreditreportDelegate" name="creditreport" />
            <endpoint address="http://120.221.95.16:8080/CreditReportWebservice/FRReportToBase64.asmx"
                binding="basicHttpBinding" bindingConfiguration="FRReportToBase64Soap"
                contract="QingDaoServiceReference.FRReportToBase64Soap" name="FRReportToBase64Soap" />
            <endpoint address="http://120.224.81.30:10012/WinHall-JiNing/services/creditreport"
                binding="basicHttpBinding" bindingConfiguration="creditreportBinding1"
                contract="JiNingWebServices.CreditreportDelegate" name="creditreport1" />
            <endpoint address="http://58.213.162.194:5444/WinHall/services/creditreport"
                binding="basicHttpBinding" bindingConfiguration="creditreportBinding2"
                contract="NanJingWebServices.CreditreportDelegate" name="creditreport2" />
            <endpoint address="http://123.234.7.27:1001/WinHall-NingYang/services/creditreport"
                binding="basicHttpBinding" bindingConfiguration="creditreportBinding3"
                contract="NingYangWebservices.CreditreportDelegate" name="creditreport3" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
