<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportServiceImplServiceSoapBinding"/>
                <binding name="creditreportBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.250.50.95/ckfw/services/creditreport" binding="basicHttpBinding" bindingConfiguration="ReportServiceImplServiceSoapBinding" contract="ReportServiceReference.ReportService" name="ReportServiceImplPort"/>
            <endpoint address="http://192.200.200.122:8080/WinHall/services/creditreport" binding="basicHttpBinding" bindingConfiguration="creditreportBinding" contract="CreditreportDelegate1.CreditreportDelegate" name="creditreport"/>
        </client>
    </system.serviceModel>
</configuration>
