<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="creditreportBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://58.213.162.194:5444/WinHall/services/creditreport"
                binding="basicHttpBinding" bindingConfiguration="creditreportBinding"
                contract="NanJingWebServices.CreditreportDelegate" name="creditreport" />
        </client>
    </system.serviceModel>
</configuration>